:root {
    --white-color: #fff;
    --black-color: #000000;
    --i-color: #fcd9ad;
    --p-color: #a7a7a7;
    --h-color: #5a5a5a;
    --btn-color: #19dfe8;
    --y-color: #fffb00;
    --main-transition: 0.3s;
    --main-padding-bottom:100px;
    --main-padding-top:100px;
}