.Banner {
    height: 300px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    .container {
        
        .text {
            text-align: center;
            color: black;
            margin-bottom: 50px;
        }

        .png {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            img {
                max-width: 140px;
            }
        }
    }
}